body {
    padding: 0;
    margin: 0;
    background-color: rgb(7, 2, 33);
    color: white;
    background-image: url(Multimedia/stars-bg.jpeg);
    background-size: auto;
    text-align: center;
}

h1 {
    font-size: 60px;
}

.text {
    background-color: rgba(50, 0, 157, 0.326);
    padding: 10px;
    margin: auto;
    width: 600px;
    border-radius: 10px;
    font-family: sans-serif;
}